*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Users/beee/WeT_ANDROID/app/src/main/java/com/wetour/we_t/network/RequestToServer.kt 
/Users/beee/WeT_ANDROID/app/src/main/AndroidManifest.xml 

